*
{
    margin: 2px;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body
{
    max-height: 1000px;
    background-repeat: no-repeat, repeat;
    background-image: radial-gradient( rgb(233, 233, 195), rgba(154, 224, 224, 0.973),rgb(63, 179, 224));
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
.logo
{
    width: 100px;
    cursor: pointer;
}
nav{
    display: flex;
    width: auto;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover
{
    color: brown;
}
.content
{
    margin-left: 7%;
    margin-top: 10%;
}
.content h1{
    font-size: 50px;
    color: rgb(89, 147, 224);
    margin-bottom: 20px;
}
span 
{
    color: orange;
}
.content p
{
    color: rgb(46, 49, 196);
    line-height: 15px;
    font-size: 23px;
}
#submit
{
    background-color: blue;
    color: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
}
.images
{
    width: 25%;
    height: 40%;
    position: absolute;
    bottom: 40px;
    right: 100px;
}
.images img
{
    position: absolute;
    margin-top: 30px;
    left: 50%;
    bottom: 0;
    transform: translateX(-70%) ;
    transition :bottom 1s left 1s;
}
.images:hover .shape
{
    bottom: 40px; /*leave 40px from bottom then move*/
}
.images:hover .shape1
{
    left: 60px;
}
.shape
{
    height: 400px;
    width: 350px;
}
.shape1
{
    border-radius: 100px;
    height: 250px;
}
.social{
    margin-left: 8%;
    margin-top: 70px;
}
.social a{
    font-size: 30px;
     color: black;
     margin-right: 20px;
}
.social a:hover
{
    color: rgba(255, 0, 0, 0.973);
}
